![logo](bosch_logo.png)
Test Report



|  |
| --- |
|  |

| Summary | |
| --- | --- |
| Suite / Plan | VTS / vts-bosch |
| Suite / Build | 15\_r3 / eng.coder |
| Host Info | Result/@start CLJ-C-005DF (Linux - 6.5.0-26-generic) |
| Start time / End Time | Thu Jan 22 12:58:29 UTC 2026 / Thu Jan 22 13:05:31 UTC 2026 |
| Tests Passed | 32 |
| Tests Failed | 0 |
| Modules Done | 3 |
| Modules Total | 3 |
| Fingerprint | Raspberry/bosch\_hal\_aidl/rpi4:15/BP1A.250505.005/3:userdebug/test-keys |
| Security Patch | 2025-05-05 |
| Release (SDK) | 15 (35) |
| ABIs | arm64-v8a |

  

| Module | Passed | Failed | Assumption Failure | Ignored | Total Tests | Done | Reason |
| --- | --- | --- | --- | --- | --- | --- | --- |
| [arm64-v8a BoschAidlHalSensorsTargetTest](module_reports/arm64-v8a_BoschAidlHalSensorsTargetTest.md) | 15 | 0 | 0 | 0 | 15 | true |  |
| [arm64-v8a VtsAidlHalSensorsTargetTest](module_reports/arm64-v8a_VtsAidlHalSensorsTargetTest.md) | 13 | 0 | 0 | 0 | 13 | true |  |
| [arm64-v8a VtsHalSensorManagerTargetTest](module_reports/arm64-v8a_VtsHalSensorManagerTargetTest.md) | 4 | 0 | 0 | 1 | 5 | true |  |  