![logo](bosch_logo.png)
Test Report



|  |
| --- |
|  |

| Summary | |
| --- | --- |
| Suite / Plan | CTS / cts |
| Suite / Build | 15\_r1 / eng.coder |
| Host Info | Result/@start CLJ-C-005DF (Linux - 6.5.0-26-generic) |
| Start time / End Time | Thu Jan 22 11:29:26 UTC 2026 / Thu Jan 22 13:06:03 UTC 2026 |
| Tests Passed | 846 |
| Tests Failed | 0 |
| Modules Done | 2 |
| Modules Total | 2 |
| Fingerprint | Raspberry/bosch\_hal\_aidl/rpi4:15/BP1A.250505.005/3:userdebug/test-keys |
| Security Patch | 2025-05-05 |
| Release (SDK) | 15 (35) |
| ABIs | arm64-v8a |

  

| Module | Passed | Failed | Assumption Failure | Ignored | Total Tests | Done | Reason |
| --- | --- | --- | --- | --- | --- | --- | --- |
| [arm64-v8a CtsSensorTestCases](module_reports/arm64-v8a_CtsSensorTestCases.md) | 418 | 0 | 0 | 0 | 418 | true |  |
| [arm64-v8a CtsSensorTestCases[instant]](module_reports/arm64-v8a_CtsSensorTestCases[instant].md) | 428 | 0 | 0 | 0 | 428 | true |  |  